APP_ENV=dev/prod (Development or production)
APP_DEBUG=true/false (Display debug info)
APP_URI=Example for http://127.0.0.1/PlatziPHP/dir, ONLY 'PlatziPHP/dir' IS THE APP_URI. You can leave it blank

DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

CONTACT_INBOX=The email address that will receive the data from contact formularies