{% extends "defaultTemplate.twig.html" %}

{% block head %}
<title>Nuevo Post</title>
<link rel="stylesheet" href="{{appAddress}}css/nuevoPost.css">
{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Nuevo Post</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
            {% if mensaje %}
            <div class="alert alert-danger">{{ mensaje }}</div>
            {% endif %}
            <form id="nuevo-post" action="{{ rutas.addedPosts }}" method="POST" enctype="multipart/form-data" >
                <div class="form-group">
                    Autor: {{autor}}
                </div>
                <div class="form-group">
                    <label for="titulo">Título: </label>
                    <input class='form-control' id='titulo' type="text" name="titulo"/>
                </div>
                <div class="form-group">
                    <input type="file" id="miniatura" name='miniatura' class="filestyle">
                </div>
                <input class='btn btn-primary' type="submit" value="Publicar">
                <a class='btn btn-secondary' href="../">Volver</a>
            </form>
        </div>
    </div>
</div>

<style>
    .group-span-filestyle label {
        margin: 0;
        border-radius: 5px;
    }
</style>

<script type="text/javascript" src="{{ appAddress }}js/bootstrap-filestyle.min.js"></script>
<script type="text/javascript">
    $('#miniatura').filestyle({
        text : 'Cargar miniatura',
        badge: true,
        input : false,
        btnClass : 'btn-primary',
        htmlIcon : '<span class="oi oi-folder"></span> '
    });
</script>
{% endblock %}