<div id='footer' class="container-fluid">
    <footer class="row">
        <div class="col">
            <a href="{{ rutas.contactForm }}">Formulario de contacto</a>
        </div>
    </footer>
</div>